@import url(http://fonts.googleapis.com/css?family=Rancho);
@import url(http://fonts.googleapis.com/css?family=Berkshire+Swash);
@import url(http://fonts.googleapis.com/css?family=Elsie:400,900);
@import url(http://fonts.googleapis.com/css?family=Peralta);

body {
        margin: 0 auto;
	max-width: 80%;
}

p.bar {
	text-align: right;
}

header {
	padding: 10px;
	max-width: 100%;
	width: auto;
	height: 30%;
	/*background: #6c2dc7; */
	clear: both;
}

#header {
	font-size: 20pt;
	margin-top: -5px;
	font-family: 'Rancho', sans-serif;
	padding-left: 30px;
	color: #A34775;
}

h1 {
	padding-left: 180px;
	margin-top: 50px;
	font-size: 50pt;
	font-family: 'Berkshire Swash', sans-serif;
	color: #6c2dc7;
}
h2 {
	padding-left: 30px;
	margin-top: -100px;
	font-size: 15pt;
	font-family: 'Berkshire Swash', sans-serif;
	color: #6c2dc7;
}
h3 {    padding-left: 180px;
	margin-top: 50px;
	font-size: 50pt;
	font-family: 'Berkshire Swash', sans-serif;
	color: #C12267;

}

input[type=submit] {
       font-weight:bold;
    
}

a.list {
	margin-left: 30px;
	text-decoration: none;
	font-family: 'The times', serif;
	color: black;
	font-size: 15pt;
}

a.list:hover {
	color: white;
}

a.now {
	margin-left: 30px;
	text-decoration: none;
	font-family: 'Elsie', serif;
	color: black;
	font-size: 15pt;
}
a.now:hover {
	color: white;
}

a.category {
	text-decoration: none;
	font-size: 15pt;
	font-family: 'Elsie', serif;
	color: #E60059;
	text-align: center;
}

a.category:hover {
	color: white;
}

ul{
    list-style-type: none;
}

h2.sight {
	text-align: center;
	font-family: 'Peralta', sans-serif;
	padding: 0px;
	text-decoration: underline;
	color: #B20D26;
}

/*keyframe animations*/
.first {
    -webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }
 
}


footer{
	background-color: #C12267;
	color: black;
	clear: both;
	width: auto;
	margin-top: 5px;
}

a.foot {
	color: black;
	text-decoration: none;
	font-size: 14pt;
	font-family: 'Rancho', sans-serif;
	margin-left: 30px;
}
a.foot:hover {
	color: white;
}
